spring.config.activate.on-profile: dev
server:
  port: 8000
  servlet:
    context-path: /
  error:
    path: /error
spring:
  application:
    name: app-dev
  datasource:
    url: jdbc:postgresql://192.168.99.104:5432/postgres