version: "3.5"

networks:
  default:
    driver: bridge
    name: agentic-prediction-cloud
  data:
    external: true
services:
  agentic-prediction-cloud:
    container_name: agentic-prediction-cloud
    image: agentic-prediction-cloud:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        JAR_PATH: build/libs/agentic-prediction-cloud-0.0.1-SNAPSHOT.jar
    restart: unless-stopped
    environment:
      - "SPRING_PROFILES_ACTIVE=prod"
      - "SPRING_AI_GOOGLE_AI_GEMINI_API_KEY=${SPRING_AI_GOOGLE_AI_GEMINI_API_KEY}"
    ports:
      - "8080:8000"
    networks:
      - data
